doctype html
html
  head
    title Отель
    link(rel="stylesheet", href="stylesheets/style.css")
    meta(http-rquiv='Content-type' content='text/html;charset=utf-8')
  body.main
   .main
     header
      nav
          a(href='#') О нас
      
          a(href='#') Услуги
         
          a(href='#') Вакансии
        
          a(href='#') Новости
        
          a(href='#') Соглашения