doctype html
html
  head
      title Header
      link(rel="stylesheet", href="src\header\header.scss")
      meta(http-rquiv='Content-type' content='text/html;charset=utf-8')
  body
      include ./logo/logo.pug
      include ./nav/nav.pug